<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Генерация случайного числа</title>
</head>
<body>
    <h1>Программа для генерации случайного числа</h1>

    <form method="POST">
        <label for="start">Введите начальное значение диапазона:</label>
        <input type="text" id="start" name="start" required>
        <br>
        <label for="end">Введите конечное значение диапазона:</label>
        <input type="text" id="end" name="end" required>
        <br>
        <button type="submit">Сгенерировать</button>
    </form>

    {% if random_number is not none %}
        <p>Случайное число между {{ request.form["start"] }} и {{ request.form["end"] }}: {{ random_number }}</p>
    {% endif %}
</body>
</html>